.container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    &-content{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }
}

.description{
    background-color: var(--secondaryBackgroundColor);
    height: 100%;
    border-radius: 32px 32px 0 0;
    position: relative;
    z-index: 2;
    gap: 50px;
    display: flex;
    flex-direction: column;
}