<app-layout-page [isVacanciesForm]="true" [isSendForm]="false">
    <ng-container content>
        <div class="container">
            <app-header-information [title]="['Вакансии']" [showInformation]="true"></app-header-information>
            
            <div class="container-content">
                <div class="description">
                    <app-vacancies-description></app-vacancies-description>
                </div>
            </div>   
        </div>
    </ng-container>
</app-layout-page>