.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media screen and (max-width: 736px) {
        gap: 20px;
    }
    &__section{
        display: flex;
        flex-direction: column;
        gap: 12px;
        &-title{
            font-size: 40px;
            line-height: 40px;
            padding: 0;
            margin: 0;
            margin-bottom: 20px;
            font-weight: 500;
            @media screen and (max-width: 736px) {
                margin-bottom: 20px;
            }
        }
        &-enumeration{
            margin-top: -10px;
            gap: 5px;
            & > li {
                margin-top: 5px;
                color: var(--secondaryFontColor);
            }
        }
    }
    &-button{
        border: none;
        background-color: var(--primaryButtonBgColor);
        color: var(--primaryFontColor);
        width: fit-content;
        padding: 16px 92px 16px 92px;
        font-size: 16px;
        border-radius: 16px;
        cursor: pointer;
    }
}
