<div class="container">
        <div class="container__section">
            <h3 class="container__section-title invert-text_color">Налоговый вычет</h3>
            <span class="container__section-text invert-text_color">Каждому нашему пациенту мы предоставляем всю документацию для получения налогового вычета в размере 13% от суммы лечения.</span>
            <span class="container__section-text invert-text_color">Вычет предоставляется работающим гражданам РФ, и производящим уплату подоходного налога.
                Вычет может быть предоставлен по расходам на лечение не только самого налогоплательщика, но и его супруге (супругу), родителям или детям.</span>
            <span class="container__section-text invert-text_color">Для получения  налогового вычета в налоговую инспекцию необходимо предоставить следующие документы:</span>
            <ul class="container__section-enumeration">
                <li>паспорт;</li>
                <li>ИНН налогоплательщика;</li>
                <li>реквизиты банковского счёта;</li>
                <li>копию договора об оказании услуг;</li>
                <li>справка об оплате медицинских услуг для представления в налоговые органы Российской Федерации, утвержденной совместным приказом Минздрава России и МНС России от 25.07.2001 № 289/БГ-3-04/256.9 (до 31.12.2023г) либо справка по форме, утвержденной приказом ФНС России от 08.11.2023 № ЕА-7-11/824 (с 01.01.2024г);</li>
                <li>лицензию медицинского учреждения, где проходило лечение;</li>
                <li>заполнить декларацию по форме 3НДФЛ и сдать ее в НИ в электронном виде либо на бумажном носителе.</li>
            </ul>
            <span class="container__section-text invert-text_color">Для получения справки для налоговой инспекции необходимо предоставить следующие документы в клинику:</span>
            <ul class="container__section-enumeration">
                <li>копию паспорта;</li>
                <li>копию ИНН (налогоплательщика);</li>
                <li>копию договора об оказании услуг (восстановим утерянный экземпляр);</li>
                <li>заполнить заявление о предоставлении справки в налоговую инспекцию (с обязательным указанием, за кого оформляется вычет: заявитель, супруг(а), сын (дочь), мать(отец)).</li>
            </ul>
            <span class="container__section-text invert-text_color">Срок подготовки до 10 рабочих дней с момента подачи заявления.
                Статус подготовки справки, можно уточнить по телефону +79130318831 </span>
        </div>
        <button
            class="container-button"
            (click)="showStatementForm()"
            >
            Форма заявления
        </button>
        <div class="container__section">
            <h3 class="container__section-title invert-text_color">Лечение по ДМС</h3>
            <span class="container__section-text invert-text_color">Лечение по ДМС в Краевом Центре Дентальной Имплантации- это быстро, качественно и бесплатно для всех, у кого есть страховой полис добровольного медицинского страхования от компании Альфастрахование.</span>
            <span class="container__section-text invert-text_color">Важно: перед посещением стоматолога изучите свою страховую программу и запросите гарантийное письмо у страховой компании на лечение в нашей клинике.</span>
        </div>
        <div class="container__section">
            <h3 class="container__section-title invert-text_color">Рассрочка</h3>
            <span class="container__section-text invert-text_color">В нашей клинике вы так же можете воспользоваться услугой рассрочки: её можно получить от банка Тинькофф и его банков партнёров.
                Для оформления рассрочки необходимо придти в клинику заранее: минимум за 4 часа до приема, либо за день до приема. Оформление происходит простым путём: администратор отправляет вам в сообщениях или в мессенджере ссылку на заполнение информации для рассрочки. Вы переходите по ссылке и лично отправляете все данные о себе, заполнение занимает не более 10 минут. Далее мы ждём одобрения от банка и в случае положительного ответа, вы со своей стороны подписываете электронный договор с банком на своём мобильном телефоне.</span>
        </div> 
</div>