.container{
    display: flex;
    flex-direction: row;
    gap: 100px;
    @media screen and (max-width: 1324px){
        display: grid;
        grid-template-columns: 40% 57%;
        gap: 40px;
     }
    @media screen and (max-width: 799px){
        display: flex;
        flex-direction: column; 
        gap: 20px;
    }
    &__block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
        @media screen and (max-width: 799px){
            gap: 20px;
        }
        &-title{
            font-size: 90px;
            line-height: 90px;
            font-weight: 500;
            margin: 0;
        }
        &-textarea{
            display: flex;
            flex-direction: column;
            gap: 15px;
            font-size: 20px;
            line-height: 24px;
            font-weight: 400;
            width: 80%;
        }
        &-icon{
            padding-right: 15px;
        }
        &-text{
            &_down{
                font-size: 20px;
                line-height: 24px;
                font-weight: 400;
                @media screen and (max-width: 1324px){
                    display: grid;
                    grid-column: 3/1
                 }
            }
        }
    }
}