.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header{
    &-main{

    }
}

.first-section{
    &__wrap{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 30px;
    }
    &__text{
        display: flex;
        flex-direction: column;
        width: 55%;
        gap: 12px;
    }
    &__img{
        width: 45%;
        border-radius: 16px;
        object-fit: cover;
    }
}

.second-section{
    &__wrap{
        display: flex;
        flex-direction: column;
    }
}

.custom-list {
    list-style-type: none; 
    padding-left: 0; 
}

.custom-list li {
    position: relative; 
    padding-left: 8px; 
    margin-bottom: 12px;
}

.custom-list li::before {
    content: "-"; 
    position: absolute; 
    left: 0;
    color: black;
}

.image-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px; 
    padding: 20px 140px;
}

.base-text{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

@media screen and (max-width: 1070px) {
    .first-section{
        &__wrap{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 30px;
        }
        &__text{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 12px;
        }
        &__img{
            width: 100%;
            border-radius: 16px;
        }
    }
    .image-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px; 
        padding: 20px 60px;
    }
}

@media screen and (max-width: 770px) {
    .image-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px; 
        padding: 20px 0;
    }
    .base-text{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}
