<div class="container">
    <h2 class="text-title_third-level">Наша клиника ищет новых сотрудников</h2>
    <div class="first-section__wrap">
        <div class="first-section__text">
            <span class="base-text">Мы открыты с 2021 года и за это время успели охватить весь Красноярский край и ближайшие области. К нам приезжают пациенты со всей страны, а так же зарубежья.</span>
            <span class="base-text">С 2024 года мы сменили стратегию развития и выбрали для себя формат уютной бутиковой клиники, в которой нет разброса между филиалами, все делается в одном месте. 
            </span>
            <span class="base-text">На данный момент для нас на первом месте не только пациенты, для которых мы делаем все и даже больше, а еще наша команда. Мы заботимся о своих людях, и нам важно, чтобы все работали с большим удовольствием, а не шли как на каторгу.  Мы обеспечиваем хорошие условия адаптации для новых сотрудников, ведь прекрасно понимаем, что быть в команде “новеньким” не самое простое и приятное дело</span>
            <span class="base-text">Мы не просто стоматологическая клиника, мы- команда классных специалистов, которые всегда поддерживают друг друга. И сейчас пришло время расширяться: мы ищем единомышленников к нам в команду, готовых вместе с нами двигаться вперед!
            </span>
        </div>
        <img class="first-section__img" src="assets/images/main-vacancies.png" alt="">
    </div>
    <div class="second-section__wrap">
        <h2 class="text-title_third-level">Что мы можем предложить:</h2>
        <ul class="custom-list">
            <li class="base-text">Непрерывное обучение и развитие: мы инвестируем в развитие наших сотрудников. 
            </li>
            <li class="base-text">Карьерный рост: мы ценим своих сотрудников и готовы быть на всех этапах их становления в профессионалов/ и готовы обеспечить им профессиональный рост и развитие
            </li>
            <li class="base-text">Корпоративные скидки : лечитесь вместе со своими родственниками у классных специалистов!
            </li>
            <li class="base-text">Дружный коллектив и уютная атмосфера: на самом деле у нас действительно крутой коллектив. Многие работают в нашей клинике с момента открытия.</li>
            <li class="base-text">Корпоративы за счет компании: праздники у нас проходят ярко и весело!</li>
            <li class="base-text">Гарантированная оплата труда без переработок. Мы не прикрываемся фразой “у нас тут семья”, заставляя людей работать бесплатно. Мы понимаем, что каждый сотрудник- это человек, который работает за деньги у которого помимо работы есть своя личная жизнь, и мы это уважаем!
            </li>
        </ul>
    </div>
    <div>
        <h2 class="text-title_fourth-level">Ждем тебя в нашей команде! Заполняй анкету и мы с тобой свяжемся!</h2>
        <div class="image-wrapper">
            <img src="assets/images/vacancies-1.png" alt="">
            <img src="assets/images/vacancies-2.png" alt="">
            <img src="assets/images/vacancies-3.png" alt="">
            <img src="assets/images/vacancies-4.png" alt="">
            <img src="assets/images/vacancies-5.png" alt="">
            <img src="assets/images/vacancies-6.png" alt="">
        </div>
    </div>
</div>