.container{
    &-header{
        margin-bottom: 20px;
        &_rout{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &-wrap{
                display: flex;
                flex-direction: row;
                gap: 12px;
            }
        }
    }
    &-link{
        text-decoration: none;
        cursor: pointer;
        font-weight: 500;
    }
}