<app-layout-page>
    <ng-container content>
        <div class="container">
            <app-header-information 
                [extraView]="true" 
                [deviceType]="deviceType" 
                [title]="['Твоя улыбка', 'наша забота']"
            ></app-header-information>
        
            <div class="container-content">
                <div class="welcome-area">
                    <img class="welcome-area__image" [src]="mainPhoto" alt="">
                    <div class="welcome-area__advantages">
                        <div class="welcome-area__advantages-item" appScrollFade position="out" [delation]="0.1">
                            <h3 class="welcome-area__advantages-item_title invert-text_color">Преимущества 1</h3>
                            <span class="welcome-area__advantages-item_text invert-text_color">Описание преимущества в 1-2х предлодениях</span>
                        </div>
                        <div class="welcome-area__advantages-item" appScrollFade position="out" [delation]="0.1">
                            <h3 class="welcome-area__advantages-item_title invert-text_color">Преимущества 2</h3>
                            <span class="welcome-area__advantages-item_text invert-text_color">Описание преимущества в 1-2х предлодениях</span>
                        </div>
                        <div class="welcome-area__advantages-item" appScrollFade position="out" [delation]="0.1">
                            <h3 class="welcome-area__advantages-item_title invert-text_color">Преимущества 3</h3>
                            <span class="welcome-area__advantages-item_text invert-text_color">Описание преимущества в 1-2х предлодениях</span>
                        </div>
                    </div>
                </div>
                <div class="description">
                    <app-about-clinic [deviceType]="deviceType"></app-about-clinic>
                    <app-employees></app-employees>
                    <app-services></app-services>
                </div>
            </div>    
        </div>
    </ng-container>
</app-layout-page>