<app-layout-page>
    <ng-container content>
        <div class="container">
            <app-header-information 
                [extraView]="true" 
                [deviceType]="deviceType" 
                [title]="['Твоя улыбка', 'наша забота']"
            ></app-header-information>
        
            <div class="container-content">
                <div class="welcome-area">
                    <img class="welcome-area__image" [src]="mainPhoto" alt="">
                    <div class="welcome-area__advantages" *ngIf="deviceType !== 'mobile'; else mobileInfo">
                        <div class="welcome-area__advantages-item">
                            <h3 class="welcome-area__advantages-item_title invert-text_color">Широкий спектр услуг</h3>
                        </div>
                        <div class="welcome-area__advantages-item">
                            <h3 class="welcome-area__advantages-item_title invert-text_color">Высококлассные специалисты</h3>
                        </div>
                        <div class="welcome-area__advantages-item">
                            <h3 class="welcome-area__advantages-item_title invert-text_color">Забота о клиентах</h3>
                        </div>
                    </div>
                    <ng-template #mobileInfo>
                        <div class="welcome-area__advantages-core">
                            <div class="welcome-area__advantages-mobile" *ngIf="contacts$ | async as contacts">
                                <button class="welcome-area__advantages-mobile-item_callback" (click)="openCallbackModal()">
                                    Обратный звонок
                                </button>
                                <div class="welcome-area__advantages-mobile-item">
                                    <span class="welcome-area__advantages-mobile-item_title invert-text_color">Телефон: <a href="tel:{{contacts.phone_number}}">{{contacts.phone_number}}</a></span>
                                    <span class="welcome-area__advantages-mobile-item_title invert-text_color">Адресс: {{contacts.address}}</span>
                                    <span class="welcome-area__advantages-mobile-item_title   invert-text_color">Часы работы:</span>
                                    <ng-container *ngFor="let item of contacts.working_hours.split(',')">
                                        <span class="welcome-area__advantages-mobile-item_title   invert-text_color">{{item}}</span>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
                <div class="description">
                    <app-about-clinic 
                        [deviceType]="deviceType">
                    </app-about-clinic>
                    <app-employees 
                        *ngIf="deviceType === 'desktop'">
                    </app-employees>
                    <app-employees-carousel-mobile
                        *ngIf="deviceType !== 'desktop'"
                        [deviceType]="deviceType">
                    </app-employees-carousel-mobile>
                    <app-services></app-services>
                    <app-reviews-carousel></app-reviews-carousel>
                </div>
            </div>    
        </div>
    </ng-container>
</app-layout-page>