.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &-header{
        margin-bottom: 20px;
    }
    &__board{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
        &-left{
            display: flex;
            justify-content: center;
            background-color: var(--primaryBackgroundColor);
            width: 48px;
            min-width: 48px;
            height: 85%;
            border-radius: 16px 0 0 16px;
        }
        &-right{
            display: flex;
            justify-content: center;
            background-color: var(--primaryBackgroundColor);
            width: 48px;
            min-width: 48px;
            height: 85%;
            border-radius: 0 16px 16px 0;
        }
    }
    &__image-block {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center; 
        &-section {
            position: relative;
            width: auto;
            max-width: 100%;
            border-radius: 16px;
            overflow: hidden; 
        }
        &-information {
            z-index: 2;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: 30px;
            max-width: 760px;
            color: black;
            text-shadow: -1px 0 1px white;
            width: 100%;
            @media  screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }
}

.information{
    &__toggle{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20%;
        &-button{
            background-color: transparent;
            border: none;
            cursor: pointer;
            svg{
                width: 25px;
                height: 25px;
                path{
                    stroke: black
                }
            }
            &.right{
                margin-left: auto;
            }
        }
    }
    &__description{
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media  screen and (max-width: 768px) {
            max-width: 760px;
        }
    }
}