
<footer class="footer">
    <ng-container *ngIf="isSendForm">
        <app-sign-up-consultation></app-sign-up-consultation>
    </ng-container>
    <div class="footer-content">
        <div class="footer-content__left">
            <ng-container *ngIf="!isMobile">
                <span class="footer-content__title text_color">Краевой центр дентальной имплантации</span>
                <div class="info">
                    <div class="social-club social-club__wrap">
                        <div class="social-club-qr-code__wrap">
                            <img class="social-club-qr-code_small" src="assets/images/taplink.png" alt="">
                            <!-- <svg-icon src="assets/icons/qrcode.svg"></svg-icon> -->
                        </div>
                        <!-- <div class="social-club-telegram">
                            <svg-icon src="assets/icons/telegram.svg"></svg-icon>
                            <span class="social-club-telegram__item text_color">kcdi</span>
                        </div> -->
                    </div>
                    <div class="info-block">
                        <div class="info-block__item">
                            <svg-icon src="assets/icons/location.svg"></svg-icon>
                            <span class="info-block__item text_color">г. Красноярск, пр-кт Мира 115А</span>
                        </div>
                        <div class="info-block__item">
                            <svg-icon src="assets/icons/mail.svg"></svg-icon>
                            <span class="info-block__item text_color">{{'office@kcdi24.ru'}}</span>
                        </div>
                        <div class="info-block__item">
                            <svg-icon src="assets/icons/vk.svg"></svg-icon>
                            <span class="info-block__item text_color">vk.com/kcdi24</span>
                        </div>
                        <div class="info-block__item">
                            <svg-icon src="assets/icons/instagram.svg"></svg-icon>
                            <span class="info-block__item text_color">instagram.com/kcdi24</span>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="isMobile">
                <div class="info-mobile">
                    <svg-icon src="assets/icons/mobile-logo.svg"></svg-icon>
                    <span class="info-mobile-item__title text_color">{{contacts.phone_number}}</span>
                    <span class="info-mobile-item__title text_color">Адрес:</span>
                    <span class="info-mobile-item text_color">{{contacts.address}}</span>
                    <span class="info-mobile-item__title text_color">Часы работы:</span>
                    <span class="info-mobile-item text_color">Пн-сб: {{contacts.working_hours}}</span>
                </div>                
            </ng-container>
        </div>
        <ng-container *ngIf="!isMobile">
            <div class="footer-content__center">
                <svg-icon></svg-icon>
                <svg-icon></svg-icon>
            </div>
            <div class="footer-content__right">
                <div class="content-info">
                    <span class="content-info__title text_color">Разделы</span>
                    <button (click)="naviagate(['/', 'main'])" class="content-info__buttons btn-transparent">Главная</button>
                    <button (click)="naviagate(['/', 'services'])" class="content-info__buttons btn-transparent">Услуги</button>
                    <button (click)="naviagate(['/', 'prices'])" class="content-info__buttons btn-transparent">Цены</button>
                    <button (click)="naviagate(['/', 'specialist'])" class="content-info__buttons btn-transparent">Специалисты</button>
                    <button (click)="naviagate(['/', 'stock'])" class="content-info__buttons btn-transparent">Акции</button>
                    <button (click)="naviagate(['/', 'reviews'])" class="content-info__buttons btn-transparent">Отзывы</button>
                </div>
                <div class="content-info">
                    <!-- <span class="content-info__title text_color">Документы</span>
                    <ng-container *ngFor="let file of fileList$ | async">
                        <button class="content-info__buttons btn-transparent" (click)="downloadFile(file.file, file.name)">{{ file.name }}</button>
                    </ng-container> -->
                </div>
            </div>
        </ng-container>
    </div>
</footer>