
<footer class="footer">
    <ng-container *ngIf="isSendForm">
        <app-sign-up-consultation></app-sign-up-consultation>
    </ng-container>
    <div class="footer-content">
        <div class="footer-content__left">
            <span class="footer-content__title text_color">Краевой центр дентальной имплантации</span>
            <div class="info">
                <div class="social-club social-club__wrap">
                    <div class="social-club-qr-code__wrap">
                        <svg-icon src="assets/icons/qrcode.svg"></svg-icon>
                    </div>
                    <div class="social-club-telegram">
                        <svg-icon src="assets/icons/telegram.svg"></svg-icon>
                        <span class="social-club-telegram__item text_color">kcdi</span>
                    </div>
                </div>
                <div class="info-block">
                    <div class="info-block__item">
                        <svg-icon src="assets/icons/location.svg"></svg-icon>
                        <span class="info-block__item text_color">{{'Крас пвб 106'}}</span>
                    </div>
                    <div class="info-block__item">
                        <svg-icon src="assets/icons/mail.svg"></svg-icon>
                        <span class="info-block__item text_color">{{'Крас пвб 106'}}</span>
                    </div>
                    <div class="info-block__item">
                        <svg-icon src="assets/icons/vk.svg"></svg-icon>
                        <span class="info-block__item text_color">{{'Крас пвб 106'}}</span>
                    </div>
                    <div class="info-block__item">
                        <svg-icon src="assets/icons/instagram.svg"></svg-icon>
                        <span class="info-block__item text_color">{{'Крас пвб 106'}}</span>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="footer-content__center">
            <svg-icon></svg-icon>
            <svg-icon></svg-icon>
        </div>
        <div class="footer-content__right">
            <div class="content-info">
                <span class="content-info__title text_color">Разделы</span>
                <button class="content-info__buttons btn-transparent">Главная</button>
                <button class="content-info__buttons btn-transparent">Услуги</button>
                <button class="content-info__buttons btn-transparent">Цены</button>
                <button class="content-info__buttons btn-transparent">Специалисты</button>
                <button class="content-info__buttons btn-transparent">Акции</button>
                <button class="content-info__buttons btn-transparent">Отзывы</button>
                <button class="content-info__buttons btn-transparent">Контакты</button>
            </div>
            <div class="content-info">
                <span class="content-info__title text_color">Документы</span>
                <button class="content-info__buttons btn-transparent">Публичная оферта</button>
                <button class="content-info__buttons btn-transparent">Политика конфиденциальности</button>
            </div>
        </div>
    </div>
</footer>