<div class="main-page" >
    <app-top-menu class="main-page__header"></app-top-menu>
    <div class="main-page__content" [@slideInAnimation]="isOpen">
        <ng-content select="[content]"></ng-content>
    </div>
    <app-footer [isSendForm]="isSendForm" class="footer"></app-footer>
</div>

<app-modal
    [opened]="(openModal$ | async) === ModalID.callback">
    <ng-container modal-content>
        <app-callback class="modal"></app-callback>
    </ng-container>
</app-modal>

<app-modal
    [opened]="(openModal$ | async) === ModalID.consultation">
    <ng-container modal-content>
        <app-sign-up-consultation [alternate]="true" [modal]="true" class="modal"></app-sign-up-consultation>
    </ng-container>
</app-modal>
