<div class="main-page" >
    <app-top-menu class="main-page__header" [ngClass]="{
        'main-page__header': (deviceType | async) === 'desktop', 
        'main-page__header-sticky': (deviceType | async) !== 'desktop'
    }"></app-top-menu>
    <div class="main-page__content" [@slideInAnimation]="isOpen">
        <ng-content select="[content]"></ng-content>
    </div>

    <div class="up">
        <button 
            class="up-button" 
            (click)="scrollToTop()"
            [class.show]="showUpButton">
            ↑
        </button>
    </div>
    
    <app-footer [isSendForm]="isSendForm" [isVacanciesForm]="isVacanciesForm" class="footer"></app-footer>
</div>

<app-modal
    [opened]="(openModal$ | async) === ModalID.callback">
    <ng-container modal-content>
        <app-callback class="modal"></app-callback>
    </ng-container>
</app-modal>

<app-modal
    [opened]="(openModal$ | async) === ModalID.consultation">
    <ng-container modal-content>
        <app-sign-up-consultation [alternate]="true" [modal]="true" class="modal"></app-sign-up-consultation>
    </ng-container>
</app-modal>

<app-modal
    [opened]="(openModal$ | async) === ModalID.review">
    <ng-container modal-content>
        <app-reviews-send></app-reviews-send>
    </ng-container>
</app-modal>

<app-modal
    [opened]="(openModal$ | async) === ModalID.statement">
    <ng-container modal-content>
        <app-statement-form></app-statement-form>
    </ng-container>
</app-modal>

