<app-layout-page
    [isSendForm]="true">
    <ng-container content>
        <div class="container">
            <app-header-information [title]="['Отзывы']" [showInformation]="true"></app-header-information>
            
            <div class="container-content">
                <div class="description">
                    <app-reviews></app-reviews>
                    <app-reviews-platform></app-reviews-platform>
                    <app-reviews-list></app-reviews-list>
                </div>
            </div>   
        </div>
    </ng-container>
</app-layout-page>