<div class="container">
    <div class="container-description">
        <h1 class="text-title_first-level invert-text_color">Прайс лист</h1>
        <span class="container-description__text invert-text_color">На этой странице приведены цены на основные направления. С полным прайс-листом можно ознакомиться в клинике. А точный план лечения мы составим вам после очной консультации стоматолога</span>
        <button class="container-description__button" (click)="downloadPDF(file)">
            Скачать полный прайс
        </button>
    </div>
    <ng-container *ngIf="!isMobileDevice">
        <div class="container-form">
            <app-sign-up-consultation [alternate]="true"></app-sign-up-consultation>
        </div>
    </ng-container>
</div>