<div class="container">
    <div class="container-description">
        <h1>Прайс лист</h1>
        <span>На этой странице приведены цены на основные направления. С полным прайс-листом можно ознакомиться в клинике. А точный план лечения мы составим вам после очной консультации стоматолога</span>
        <button>
            Скачать полный прайс
        </button>
    </div>
    <div class="container-form">
        <app-sign-up-consultation [alternate]="true"></app-sign-up-consultation>
    </div>
</div>