<div class="container">
    <div class="container__info-block">
        <h1 class="header text-title_first-level invert-text_color">Ваши отзывы</h1>
        <span class="text-simple_first-level invert-text_color">
            Главная цель наших клиник — предложить вам самое лучшее, что есть сегодня в современной стоматологии. Наша ежедневная работа — оказание качественной стоматологической помощи по передовыми международными стандартами.
        </span>
        <span class="text-simple_first-level invert-text_color">
            За 10 лет работы мы приняли больше 40000 пациентов. Мы получаем множество благодарностей, вы рекомендуете нашу клинику своим друзьям и знакомым. Это говорит о том, что вы нам доверяете. Спасибо вам! И вместе с тем мы очень ценим советы и конструктивную критику.
        </span>

        <button class="review-button" (click)="openSendReviewForm()">Оставить отзыв</button>
    </div>
</div>