<div class="divider" *ngIf="!alternate"></div>
<div class="content"
[ngClass]="{
    'content-alternate-modal': modal,
    'content-alternate': alternate,
    'content': !alternate
}">
    <ng-container *ngIf="modal">
        <svg-icon class="content-close" src="assets/icons/exit.svg" (click)="closeModal()"></svg-icon>
    </ng-container>

    <ng-container *ngIf="!alternate || modal">
        <h1 
        [ngClass]="{
            'content__header-modal': modal,
            'content__header-alternate': alternate,
            'content__header': !alternate && !modal
        }" 
        class="invert-text_color">Запишитесь на консультацию</h1>
        <span
        [ngClass]="{
            'content__description-modal': modal,
        }" 
        h1 class="content__description invert-text_color">Наши специалисты сделают диагностику Вашей ротовой полости и составят план лечения</span>
    </ng-container>

    <ng-container *ngIf="alternate && !modal">
        <h1 class="content__header-alternate invert-text_color">Записаться на консультацию</h1>
    </ng-container>

    <form 
        [ngClass]="{
            'content-controls_wrap-alternate': alternate,
            'content-controls_wrap': !alternate
        }"
        action="submit" 
        [formGroup]="signUpForm" 
        (ngSubmit)="sendForm()" 
        >
        <div class="content-controls__input_wrap">
            <div class="content-controls__item">
                <svg-icon class="content-controls__item-icon" src="assets/icons/person.svg"></svg-icon>
                <input formControlName="name" placeholder="Ваше имя..." class="content-controls__input" type="text">
                
            </div>
            <div class="content-controls__item">
                <svg-icon class="content-controls__item-icon" src="assets/icons/phone.svg"></svg-icon>
                <input formControlName="phone_number" [maskito]="options" placeholder="Ваш телефон..." class="content-controls__input"  type="text">
            </div>
        </div>
        <div>
            <textarea rows="5" formControlName="client_problem" placeholder="Опишите вашу проблему..." class="content-controls__input"  type="textarea"></textarea>
            <span Class="content-controls__input-required invert-text_color">Необязательное поле</span>
        </div>
        <div class="content-controls__input_wrap">
            <div class="content-controls__item">
                <app-dropdown formControlName="specialist" [list]="specialistList"></app-dropdown>
                <div class="arrow"></div>
            </div>
            <button class="content-controls__button" type="submit">Записаться</button>
        </div>
        
    </form>
    <div class="drawer" #drawer>
        <!-- Контент шторки -->
         <ng-container *ngIf="isSend">
            <div class="drawer__content">
                <h1 class="drawer__title invert-text_color">Спасибо</h1>
                <p class="drawer__description invert-text_color">Наш менеджер скоро свяжется с Вами для уточнения данных и записи на приём</p>
            </div>
        </ng-container>
    </div>
</div>

