<div class="grid-container">
    <div class="container cell-double">
        <span class="container__footnote"  appScrollFade position="down" [delation]="0.1">Наши цены на</span>
        <span class="container__title"  appScrollFade position="down" [delation]="0.1">Услуги</span>
    </div>

    <button class="service-block" appScrollFade position="out" [delation]="0.2">
        <img class="service-block__image" src="assets/images/service-1.png" alt="">
        <div class="service-block__entity">
            <div class="service-block__entity_top">
                <span class="service-block__entity-text text_color">Подробнее</span>
                <svg-icon class="service-block__entity-link" src="assets/icons/arrow-link.svg"></svg-icon>
            </div>
            <span class="service-block__entity-text text_color">Название вида услуг</span>
        </div>
    </button>

    <button class="service-block" appScrollFade position="out" [delation]="0.3">
        <img class="service-block__image" src="assets/images/service-2.png" alt="">
        <div class="service-block__entity">
            <div class="service-block__entity_top">
                <span class="service-block__entity-text text_color">Подробнее</span>
                <svg-icon class="service-block__entity-link" src="assets/icons/arrow-link.svg"></svg-icon>
            </div>
            <span class="service-block__entity-text text_color">Название вида услуг</span>
        </div>
    </button>
    <button class="service-block" appScrollFade position="out" [delation]="0.2">
        <img class="service-block__image" src="assets/images/service-3.png" alt="">
        <div class="service-block__entity">
            <div class="service-block__entity_top">
                <span class="service-block__entity-text text_color">Подробнее</span>
                <svg-icon class="service-block__entity-link" src="assets/icons/arrow-link.svg"></svg-icon>
            </div>
            <span class="service-block__entity-text text_color">Название вида услуг</span>
        </div>
    </button>
    <button class="service-block" appScrollFade position="out" [delation]="0.3">
        <img class="service-block__image" src="assets/images/service-4.png" alt="">
        <div class="service-block__entity">
            <div class="service-block__entity_top">
                <span class="service-block__entity-text text_color">Подробнее</span>
                <svg-icon class="service-block__entity-link" src="assets/icons/arrow-link.svg"></svg-icon>
            </div>
            <span class="service-block__entity-text text_color">Название вида услуг</span>
        </div>
    </button>
    <button class="service-block cell-double" appScrollFade position="out" [delation]="0.4">
        <img class="service-block__image" src="assets/images/service-5.png" alt="">
        <div class="service-block__entity">
            <div class="service-block__entity_top">
                <span class="service-block__entity-text text_color">Подробнее</span>
                <svg-icon class="service-block__entity-link" src="assets/icons/arrow-link.svg"></svg-icon>
            </div>
            <span class="service-block__entity-text text_color">Название вида услуг</span>
        </div>
    </button>


    <!-- <div class="">
        <img src="assets/images/service-2.png" alt="">
    </div>
    <div class="">
        <img src="assets/images/service-3.png" alt="">
    </div>
    <div class="">
        <img src="assets/images/service-4.png" alt="">
    </div>
    <div class="cell cell-double">
        <img src="assets/images/service-5.png" alt="">
    </div> -->
</div>