<div class="container">
    <div 
        id="map" class="map">
    </div>
    <div class="container_wrap">
        <div class="container-buttons">
            <button (click)="zoomIn()" class="container-buttons__button"><svg-icon src="assets/icons/plus.svg"></svg-icon></button>
            <input type="range" [min]="minZoomLevel" [max]="maxZoomLevel" step="0.1" [(ngModel)]="zoomLevel" (input)="onZoomChange($event)" class="container-buttons__slider">
            <button (click)="zoomOut()" class="container-buttons__button"><svg-icon src="assets/icons/minus.svg"></svg-icon></button>
        </div>
        <div class="container-contacts">
            <h2 class="container-contacts__title invert-text_color">Адрес</h2>
            <span class="container-contacts__text invert-text_color">г. Красноярск, ул. Мира, д. 115а</span>
            <h2 class="container-contacts__title invert-text_color">Телефон</h2>
            <span class="container-contacts__text invert-text_color">+7(999) 999-99-99</span>
            <h2 class="container-contacts__title invert-text_color">Электронная почта</h2>
            <span class="container-contacts__text invert-text_color">offic</span>
            <h2 class="container-contacts__title invert-text_color">Режим работы</h2>
            <div class="container-contacts__schedule">
                <span class="container-contacts__text invert-text_color">пн-пт с 9:00-21:00</span>
                <span class="container-contacts__text invert-text_color">сб-вс с 9:00 до 15:00</span>
            </div>
            <button class="container-contacts__button">Записаться на прием</button>
        </div>
    </div>   
</div>