/* You can add global styles to this file, and also import other style files */
@import url('./app/assets/styles/themes.scss');

*{
    box-sizing: border-box;
}


html, body {
    margin: 0;
    background-color: var(--primaryBackgroundColor);
    box-sizing: border-box;
}
