/* You can add global styles to this file, and also import other style files */
@import url('./assets/styles/themes.scss');
@import url('./assets/styles/buttons-transparent.scss');
@import url('./assets/styles/fonts.scss');
@import url('./assets/styles/global-styles.scss');
@import url('./assets/styles/animations.scss');

*{
    box-sizing: border-box;
}


html, body {
    margin: 0;
    background-color: var(--primaryBackgroundColor);
    box-sizing: border-box;
}

router-outlet {
    display: block;
    position: relative;
  }

.modal-open{
    overflow: hidden;
    @media screen and (min-width: 1136px) {
        padding-right: 17px;
    }
}

img{
    width: 100%;
}

