
.text_color{
    color: var(--primaryFontColor);
}

.invert-text_color{
    color: var(--secondaryFontColor);
}

.background-text_color{
    color: var(--thirdFontColor);
}

.text-title_first-level{
    font-size: 90px;
    font-weight: 500;
    line-height: 91px;
    margin: 0;
    @media (max-width: 1324px) {
        font-size: 60px;
        line-height: 60px;
        font-weight: 600;
    }
    @media (max-width: 591px) {
        font-size: 40px;
        line-height: 35px;
        font-weight: 600;
    }
    @media (max-width: 421px) {
        font-size: 30px;
        line-height: 30px;
        font-weight: 600;
    }
}


.text-title_second-level{
    margin: 0;
    font-size: 50px;
    font-weight: 500;
    line-height: 73px;
    @media (max-width: 1324px) {
        font-size: 40px;
        line-height: 32px;
        font-weight: 500;
    }
    @media (max-width: 521px) {
        font-size: 40px;
        line-height: 32px;
        font-weight: 500;
    }
}


.text-title_third-level{
    margin: 0;
    font-size: 40px;
    font-weight: 500;
    @media (max-width: 1324px) {
        font-size: 30px;
        line-height: 30px;
        font-weight: 500;
    }
    @media (max-width: 521px) {
        font-size: 25px;
        line-height: 25px;
        font-weight: 500;
    }
}

.text-simple_first-level{
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    @media (max-width: 1324px) {
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
    }
    @media (max-width: 521px) {
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
    }
}

.text-simple_second-level{
    font-size: 16px;
    line-height: 16px;
    margin: 0
}

.text-simple_third-level{
    font-size: 14px;
    line-height: 14px;
    margin: 0
}