:root {
    --primaryBackgroundColor: #B8A186;
    --secondaryBackgroundColor: #FFFFFF;
    --thirdBackgroundColor: #F5EFE7;

    --primaryFontColor: #FFFFFF;
    --secondaryFontColor: #4B4F4F;
    --thirdFontColor: #B8A186;

    --topMenuItemSelected: #FFFFFF;

    --secondaryAccentColor: #EEEEEE;

    --primaryButtonBgColor: #4B4F4F;

    --primaryFooterColor: #4B4F4F;

    --primaryInputBorderColor: #A0A2A2;
}