.container{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
    @media screen and (max-width: 808px){
        display: flex;
        flex-direction: column;
    }
    &__image{
        width: 100%;
        border-radius: 16px;
        height: 500px;
        object-fit: cover;
    }
    &__description{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        @media screen and (max-width: 808px){
            gap: 10px;
        }
    }
}

.card-entity{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 30px;
    &__header{
        color: var(--secondaryFontColor);
    }
    &__text{
        color: var(--secondaryFontColor);
    }
    &__limitation{
        color: var(--secondaryFontColor);
    }
    &__button{
        border-radius: 16px;
        width: 50%;
        padding: 20px;
        background-color: var(--primaryButtonBgColor);
        color: var(--primaryFontColor);
        font-size: 20px;
        cursor: pointer;
        font-weight: 500;
        border: none;
        @media screen and (max-width: 808px){
            width: 90%;
        }
    }
}
